@import "vars";
@import "functions";

[class*='__container'] {
  max-width: rem($max-width-container);
  margin: 0 auto;
  padding: 0 rem($main-offset);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /** Поменять на clip - если используется в проекте position: sticky */
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}